<div class="app-layout">
<div class="sidenav">
    <div class="logo">
            <img src="assets/images/FOR-DASHBOARD.png" alt="Logo" width="150px"/>
        </div>
    <div class="sidenav-header">
        <h2><i class="cpu"></i></h2>
    </div>
    <nav>
        <ul>
           <li><a routerLink="/sta-dashboard/staff-dashboard"><i class="pi pi-home"></i>Dashboard</a></li>
           <li><a routerLink="/sta-dashboard/staff-profile"><i class="pi pi-user"></i>My profile</a></li>
           <li><a routerLink="/sta-dashboard/staff-qr-scanner"><i class="pi pi-qrcode"></i>QR Scanner</a></li>
           <li><a routerLink="/sta-dashboard/staff-requests"><i class="pi pi-inbox"></i>Requests</a></li>
           <li><a routerLink="/sta-dashboard/staff-residents"><i class="pi pi-users"></i>Residents</a></li>
           <li><a routerLink="/sta-dashboard/staff-households"><i class="pi pi-building"></i>Households</a></li>
           <li><a routerLink="/sta-dashboard/staff-reports"><i class="pi pi-file"></i>Reports</a></li>
        </ul>
    </nav>
</div> 

 