<div class="app-layout">
<div class="sidenav">
    <div class="logo">
            <img src="assets/images/FOR-DASHBOARD.png" alt="Logo" width="150px"/>
        </div>
    <div class="sidenav-header">
        <h2><i class="cpu"></i></h2>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/ad-dashboard/admin-dashboard"><i class="pi pi-home"></i>Dashboard</a></li>
           <li><a routerLink="/ad-dashboard/admin-myprofile"><i class="pi pi-user"></i>My Profile</a></li>
           <li><a routerLink="/ad-dashboard/admin-qr-scanner"><i class="pi pi-qrcode"></i>QR Scanner</a></li>
           <li><a routerLink="/ad-dashboard/admin-requests"><i class="pi pi-inbox"></i>Requests</a></li>
           <li><a routerLink="/ad-dashboard/admin-residents"><i class="pi pi-users"></i>Residents</a></li>
           <li><a routerLink="/ad-dashboard/admin-households"><i class="pi pi-home"></i>Households</a></li>
           <li><a routerLink="/ad-dashboard/admin-reports"><i class="pi pi-file-export"></i>Reports</a></li>
           <li><a routerLink="/ad-dashboard/admin-user-roles"><i class="pi pi-chart-bar"></i>User & Roles</a></li>
           <li><a routerLink="/ad-dashboard/admin-sms-email"><i class="pi pi-inbox"></i>SMS & Email</a></li>
           <li><a routerLink="/ad-dashboard/admin-audit-log"><i class="pi pi-user"></i>Audit Log</a></li>
           <li><a routerLink="/ad-dashboard/admin-archives"><i class="pi pi-user"></i>Archives</a></li>
        </ul>
    </nav>
</div> 

 